#header {
    color: white;
    width: 100%;
    position: relative;
    float: left;
    min-width: 1092px;
    z-index: 100;
    height: 80px;
}

#map {
    z-index: 1;
    width: 100%;
    height: 1000px;
}

.wrap {
    width: 1370px;
    margin: 0 auto;
    position: relative;
}

.f1 {
    float: left;
    -webkit-filter: brightness(0.90);
    filter: brightness(0.90);
    color: white;
    font-size: 25px;
    padding-top: 10px;
    padding-left: 25px;
    position: relative;
}

.planer {
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

.m_info .close {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #888;
    width: 17px;
    height: 17px;
    background: url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/overlay_close.png');
}

.m_info .close:hover {
    cursor: pointer;
}

.m_wrap {
    position: absolute;
    left: 0;
    bottom: 40px;
    width: 288px;
    height: 132px;
    margin-left: -144px;
    text-align: left;
    overflow: hidden;
    font-size: 12px;
    font-family: 'Malgun Gothic', dotum, '돋움', sans-serif;
    line-height: 1.5;
}

.m_wrap .m_info {
    margin-bottom: 10px;
    width: 286px;
    height: 120px;
    border-radius: 5px;
    border-bottom: 2px solid #ccc;
    border-right: 1px solid #ccc;
    overflow: hidden;
    background: #fff;
}

.m_wrap .m_info:nth-child(1) {
    border: 0;
    box-shadow: 0px 1px 2px #888;
}

.m_info .m_title {
    padding: 5px 0 0 10px;
    height: 26px;
    width: 88px;
    font-size: 15px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.47;
    letter-spacing: 0.3px;
    text-align: center;
}

.m_ellipsis1 {
    width: 165px;
    height: 26px;
    font-size: 13px;
    font-weight: 500;
    line-height: 1.47;
    letter-spacing: 0.3px;
    text-align: center;
    font-stretch: normal;
    color: #000000;
    padding: 10px;
    margin-top: 5px;
}

.m_info .m_close {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #888;
    width: 17px;
    height: 17px;
    background: url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/overlay_close.png');
}

.m_info .m_close:hover {
    cursor: pointer;
}

.m_info .body {
    position: relative;
    overflow: hidden;
}

.m_info .m_desc {
    position: relative;
    margin: 0 0 0 134px;
    height: 75px;
    padding: 30px;
}

.m_desc .m_ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.m_desc .m_jibun {
    font-size: 11px;
    color: #888;
    margin-top: -2px;
}

.m_info .m_img {
    position: absolute;
    left: 5px;
    width: 134px;
    height: 75px;
    overflow: hidden;
    margin-left: 5px;
    padding: 20px 10px 0 0;
}

.m_botton {
    width: 134px;
    height: 28px;
    background: url(./icon/target.png);
    background-size: cover;
    border-image: none;
    border-color: #ffffff;
    color: snow;
    border-style: none;
}

.m_info:after {
    content: '';
    position: absolute;
    margin-left: -12px;
    left: 50%;
    bottom: 0;
    width: 22px;
    height: 12px;
    background: url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png')
}

.m_info .link {
    width: 73px;
    height: 26px;
    font-size: 14px;
    opacity: 0.6;
    line-height: 2;
    text-align: center;
    margin-left: 13px;
    font-weight: bold;
    color: #000000;
    text-decoration: none;
}

.container {
    background-color: rgba( 0, 0, 0, 0.36);
    left: 5px;
    float: right;
    max-width: 800px;
    height: 840px;
    margin-top: auto;
    padding: 20px;
    border-radius: 36px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #000000;
    overflow:auto;
    z-index: 2;
    bottom: -10px;
    position: absolute;
}

.title_x {
    width: 192px;
    height: 38px;
    text-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    font-family: NotoSansKR;
    font-size: 20px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.48;
    letter-spacing: 0.45px;
    text-align: center;
    color: #ffffff;
}

.txt {
    width: 146px;
    height: 40px;
    margin-bottom: -14px;
    object-fit: contain;
}



.task {
    width: 100%;
    background: rgba(255, 255, 255, 1);
    padding: 18px;
    margin: 6px 0;
    overflow: hidden;
    border-radius: 3px;
}

.gomypage {
    position: absolute;
    margin-top: 640px;
    left: 250px;
    width: 200px;
    height: 30px;
    bottom: 30px;
}

.task i {
    float: right;
    margin-left: 20px;
    cursor: pointer;
    height: 20px;
    width: 20px;
}

.done .task {
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
}

.todo_logo {
    margin-top: 10px;
    margin-right: 5px;
    width: 30px;
    height: 30px;
    color: #b3b3b3;
    float: right;
    margin: auto;
}

.a_desc {
    height: 28px;
    width: 81px;
    border-radius: 8px;
    background-color: #60cda9;
    margin-left: 10px;
    margin-top: -10px;
}

.i_check {
    background: url(./icon/check.png);
    background-size: cover;
}

.i_delete {
    background: url(./icon/delete1.png);
    background-size: cover;
}

#wrapper {
    width: 100%;
}

#start_title {
    text-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    font-family: NotoSansKR;
    font-size: 25px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.48;
    letter-spacing: 0.45px;
    text-align: center;
    color: #ffffff;
}

#explain {
    width: 422px;
    height: 60px;
    opacity: 0.63;
    text-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    font-family: NotoSansKR;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.47;
    letter-spacing: 0.31px;
    text-align: left;
    color: #ffffff;
    font-size: 15px;
    margin-top: 12px;
}

#notdone {
    width: 169px;
    height: 37px;
    font-family: NotoSansKR;
    font-size: 25px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.48;
    letter-spacing: 0.45px;
    text-align: center;
    color: #f34780;
}

#done {
    width: 169px;
    height: 37px;
    font-family: NotoSansKR;
    font-size: 25px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.48;
    letter-spacing: 0.45px;
    text-align: center;
    color: #f34780;
}